html,
body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: linear-gradient(
        130.36deg,
        #000000 0%,
        #272727 44.03%,
        #494949 99.99%,
        #727272 100%
    );
    background-repeat: no-repeat;
    background-attachment: fixed;
}

html ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

a {
    text-decoration: none;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'),
        url('/public/fonts/Montserrat/Montserrat-Regular.ttf');
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto'), url('/public/fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'CourierPrime';
    src: local('Courier_Prime'),
        url('/public/fonts/Courier_Prime/CourierPrime-Regular.ttf');
}

@media screen and (max-width: 2500px) {
}
