html,
body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: linear-gradient(
        130.36deg,
        #000000 0%,
        #272727 44.03%,
        #494949 99.99%,
        #727272 100%
    );
    background-repeat: no-repeat;
    background-attachment: fixed;
}

html ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

a {
    text-decoration: none;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/public/fonts/Montserrat/*') format('truetype');
}
@font-face {
    font-family: 'roboto';
    src: url('/public/fonts/Roboto/*') format('truetype');
}

@media screen and (max-width: 2500px) {
}
