:root {
    min-width: 1250px;
    background: linear-gradient(
        130.36deg,
        #000000 0%,
        #272727 44.03%,
        #494949 99.99%,
        #727272 100%
    );

    @font-face {
        font-family: 'Montserrat';
        src: url('/fonts/*') format('truetype');
    }
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
}

@media screen and (max-width: 2500px) {
    
}